.container{
    margin-left: 150px;
}

h2{
    color:rgb(245, 191, 91);
    margin-left: 400px;
}

input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
}

form{
    margin-left: 250px;
}

.field{
    display: flex;
    flex-direction: column;
    margin: 10px 10px ;
}
.add-button{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    margin-left: 10px;
}

label{
    color: rgb(245, 191, 91);
}

body {
    margin: 0;
    padding: 0;
  }
  
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #000080;
    color: rgb(245, 191, 91);
  }
  span{
    margin-top: 250px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #000080;
    height: 60px;
    align-items: center;
  }
  
  .logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(245, 191, 91);
  }
  
  a {
    color: rgb(245, 191, 91);
  }
  
  .body {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    font: 3em sans-serif;
  }
  