.container{
    margin-left: 150px;
}

h2{
    color:rgb(245, 191, 91);
    margin-left: 400px;
}

input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
}

form{
    margin-left: 250px;
}

.field{
    display: flex;
    flex-direction: column;
    margin: 10px 10px ;
}
.add-button{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    margin-left: 10px;
}

label{
    color: rgb(245, 191, 91);
}