.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: #000080;
    height: 60px;
    align-items: center;

}

.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(245, 191, 91);
}

a{
    color:rgb(245, 191, 91);
}