* {
    box-sizing: border-box;
  }
  
  .card-container{
    display: flex;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  }
  
  .card {
    padding: 20px;
    background-color: #000080;
    display: flex;
    margin: 20px;
    flex-direction: column;
    border: 5px solid rgb(245, 191, 91);;
    border-radius: 20px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    color: rgb(245, 191, 91);
  }
  
  .card :hover ,.card-container :hover{
    transform: scale(1.05, 1.05);
  }
  
  .leaflet-container {
    height: 90vh;
    width: 50%;
    border-radius: 2rem;
    margin-bottom: 20px;
  }